VITE_FIREBASE_API_KEY=AIzaSyAwJqQMqmVnxZxfqbRqC3MFzRpSxMrMfSU
VITE_FIREBASE_AUTH_DOMAIN=d-miraki-blog.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=d-miraki-blog
VITE_FIREBASE_STORAGE_BUCKET=d-miraki-blog.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=304028947156
VITE_FIREBASE_APP_ID=1:304028947156:web:c8f2485fe1ca25379e2141
VITE_FIREBASE_MEASUREMENT_ID=G-HSMVJ26GVV
VITE_GOOGLE_CLIENT_ID=22441678353-r4p1a80t4cjtujgnla68mtbf8ukja04.apps.googleusercontent.com
